<% flash.each do |name, msg| %>
  <% if name == 'alert' %>
    <div class="ui negative message">
      <i class="close icon"></i>
      <div class="header">
        <%= msg %>
      </div>
    </div>
  <% else %>
    <div class="ui success message">
      <i class="close icon"></i>
      <div class="header">
        <%= msg %>
      </div>
    </div>
  <% end %>
<% end %>
